<div class="c-wrapper">
  <div
    class="d-flex flex-column justify-content-center align-items-start w-100 py-3 px-1 gap-4"
  >
    <div
      class="filters-wrapper d-flex flex-column align-items-start justify-content-between w-100 gap-3 pt-4 pb-5 px-4 c-base rounded-3"
    >
      <div
        class="filter-section d-flex flex-column w-100 gap-0 c-base-color ps-2"
      >
        <div class="heading fw-bold mb-2 fs-5 mb-2 mt-3 text-uppercase">
          Season
        </div>
        <div class="d-flex justify-content-start mb-2">
          <div class="separator mb-2 w-75"></div>
        </div>
        <app-checkbox
          #input
          id="1"
          name="suit_type"
          [checked]="false"
          label="Antumn"
        ></app-checkbox>
        <app-checkbox
          id="2"
          name="suit_type"
          [checked]="false"
          label="Winter"
        ></app-checkbox>
      </div>
      <div
        class="filter-section d-flex flex-column w-100 gap-0 c-base-color ps-2"
      >
        <div class="heading fw-bold mb-2 fs-5 mb-2 mt-3 text-uppercase">
          Gender
        </div>
        <div class="d-flex justify-content-start mb-2">
          <div class="separator mb-2 w-75"></div>
        </div>
        <app-checkbox
          #input
          id="1"
          name="suit_type"
          [checked]="false"
          label="Man"
        ></app-checkbox>
        <app-checkbox
          id="2"
          name="suit_type"
          [checked]="false"
          label="Woman"
        ></app-checkbox>
      </div>
      <div
        class="filter-section d-flex flex-column w-100 gap-0 c-base-color ps-2"
      >
        <div class="heading fw-bold mb-2 fs-5 mb-2 mt-3 text-uppercase">
          Pieces
        </div>
        <div class="d-flex justify-content-start mb-2">
          <div class="separator mb-2 w-75"></div>
        </div>
        <app-checkbox
          #input
          id="1"
          name="suit_type"
          [checked]="true"
          label="2 Piece"
        ></app-checkbox>
        <app-checkbox
          id="2"
          name="suit_type"
          [checked]="false"
          label="3 Piece"
        ></app-checkbox>
      </div>
      <div
        class="filter-section d-flex flex-column w-100 gap-0 c-base-color ps-2"
      >
        <div class="heading fw-bold mb-2 fs-5 mb-2 mt-3 text-uppercase">
          Colors
        </div>
        <div class="d-flex justify-content-start mb-2">
          <div class="separator mb-2 w-75"></div>
        </div>
        <app-checkbox
          #input
          id="1"
          name="suit_type"
          [checked]="false"
          label="Beige"
        ></app-checkbox>
        <app-checkbox
          id="2"
          name="suit_type"
          [checked]="false"
          label="Black"
        ></app-checkbox>
        <app-checkbox
          id="2"
          name="suit_type"
          [checked]="false"
          label="Blue"
        ></app-checkbox>
        <app-checkbox
          id="2"
          name="suit_type"
          [checked]="false"
          label="Brown"
        ></app-checkbox>
        <app-checkbox
          id="2"
          name="suit_type"
          [checked]="false"
          label="Maroon"
        ></app-checkbox>
        <app-checkbox
          id="2"
          name="suit_type"
          [checked]="false"
          label="Orange"
        ></app-checkbox>
        <app-checkbox
          id="2"
          name="suit_type"
          [checked]="false"
          label="Pink"
        ></app-checkbox>
        <app-checkbox
          id="2"
          name="suit_type"
          [checked]="false"
          label="Red"
        ></app-checkbox>
        <app-checkbox
          id="2"
          name="suit_type"
          [checked]="false"
          label="Yellow"
        ></app-checkbox>
      </div>
    </div>
  </div>
</div>
