<div
  class="d-flex flex-column justify-content-center align-items-start w-100 py-3 ps-0 pe-2 gap-3"
>
  <div
    class="hero-passage-wrapper d-flex flex-column align-items-start justify-content-between w-100 gap-3 pt-5 pb-5 px-4 c-base rounded-3"
  >
    <div
      class="hero-passage d-flex flex-column justify-content-between pt-6 pb-0 ps-3 pe-3 gap-1 text-center"
    >
      <div class="title mb-2 text-uppercase fw-bold fs-6">Bloom Boutique</div>
      <div class="slogan text-capitalize fw-normal fs-6">
        Welcome to Bloom Boutique's Official Online Store
      </div>
      <div class="intro-passage fw-light fs-6 c-base-color txt-light">
        Bloom Boutique is synonymous with grace and charm. We specialize in
        offering a range of elegant Pakistani clothing. Our mission is to
        provide our customers with a seamless, exquisite, and stylish
        experience, allowing them to save both time and money. Discover our
        exclusive collection featuring intricately embroidered and effortlessly
        chic fabrics. At Bloom Boutique, we're dedicated to elevating standards,
        exploring fresh designs, and setting new trends. Our commitment lies in
        delivering exceptional designs crafted from premium-quality materials,
        all at an affordable price point.
      </div>
    </div>
  </div>
  <app-collection-table></app-collection-table>
</div>
