<div #main class="view-grid-options row m-0 p-0 gap-2 h-100">
  <!-- <div
    class="view-grid-option col border border-1 border-light border-opacity-25 m-0 p-1 d-flex flex-column justify-content-between gap-1 cursor-pointer"
    (click)="onLayoutChange($event)"
  >
    <div class="line-horizontal p-0 m-0 bg-light bg-opacity-25"></div>
    <div class="line-horizontal p-0 m-0 bg-light bg-opacity-25"></div>
    <div class="line-horizontal p-0 m-0 bg-light bg-opacity-25"></div>
  </div> -->
  <div
    class="view-grid-option col border border-1 border-light border-opacity-25 m-0 p-1 d-flex flex-row justify-content-between gap-1 cursor-pointer"
    (click)="onLayoutChange($event)"
  >
    <div class="line-vertical p-0 m-0 bg-light bg-opacity-25"></div>
    <div class="line-vertical p-0 m-0 bg-light bg-opacity-25"></div>
  </div>
  <div
    class="view-grid-option col border border-1 border-light border-opacity-25 m-0 p-1 d-flex flex-row justify-content-between gap-1 cursor-pointer"
    (click)="onLayoutChange($event)"
  >
    <div class="line-vertical p-0 m-0 bg-light bg-opacity-25"></div>
    <div class="line-vertical p-0 m-0 bg-light bg-opacity-25"></div>
    <div class="line-vertical p-0 m-0 bg-light bg-opacity-25"></div>
  </div>
  <div
    class="view-grid-option col border border-1 border-light border-opacity-25 m-0 p-1 d-flex flex-row justify-content-between gap-1 cursor-pointer"
    (click)="onLayoutChange($event)"
  >
    <div class="line-vertical p-0 m-0 bg-light bg-opacity-25"></div>
    <div class="line-vertical p-0 m-0 bg-light bg-opacity-25"></div>
    <div class="line-vertical p-0 m-0 bg-light bg-opacity-25"></div>
    <div class="line-vertical p-0 m-0 bg-light bg-opacity-25"></div>
  </div>
  <div
    class="view-grid-option col border border-1 border-light border-opacity-25 m-0 p-1 d-flex flex-row justify-content-between gap-1 cursor-pointer"
    (click)="onLayoutChange($event)"
  >
    <div class="line-vertical p-0 m-0 bg-light bg-opacity-25"></div>
    <div class="line-vertical p-0 m-0 bg-light bg-opacity-25"></div>
    <div class="line-vertical p-0 m-0 bg-light bg-opacity-25"></div>
    <div class="line-vertical p-0 m-0 bg-light bg-opacity-25"></div>
    <div class="line-vertical p-0 m-0 bg-light bg-opacity-25"></div>
  </div>
</div>
