<div
  class="c-wrapper w-100 d-flex flex-row align-items-center justify-content-between py-1 px-3 transition-bg"
>
  <div
    class="left-menus d-flex flex-row align-items-stretch justify-content-start h-100 py-1 gap-1"
  >
    <div class="main-menu-wrapper" appRearrangeMenuOnFocusWithin>
      <div
        class="menu-item w-auto px-3 h-100 c-sm-shadow-hover rounded-2 cursor-pointer flex-grow-1 d-flex justify-content-center align-items-center transition-color transition-shadow"
      >
        Menu item 1
      </div>
      <div class="sub-menu-wrapper">
        <div class="sub-menu-inner-wrapper position-relative">
          <div class="arrow top-50"></div>
          <div
            class="sub-menu-list-wrapper c-sm-shadow rounded-2 position-relative py-3 px-3 d-flex flex-row justify-content-start align-items-center"
          >
            <div
              class="d-flex flex-row align-items-stretch m-0 pt-2 pb-3 px-3 position-relative gap-5"
            >
              <div class="sub-menu-list-wrapper d-flex flex-column py-2 gap-3">
                <div class="sub-menu-category-title w-max">
                  Category title 1
                </div>
                <div
                  class="sub-menu-list d-flex flex-column align-items-start gap-1"
                >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 1</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 2</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 3</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                  >
                    Sub menu 4asjdlasdkjf lajslfkj aslkjdf lasjdfj
                    ajdkslfjlksajdfjaldsjfkajsld jflkajslkdjfa sdfj
                  </a>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="separator h-75"></div>
              </div>
              <div class="sub-menu-list-wrapper d-flex flex-column py-2 gap-3">
                <div class="sub-menu-category-title w-max">
                  Category title 1
                </div>
                <div
                  class="sub-menu-list d-flex flex-column align-items-start gap-1"
                >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 1</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 2</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 3</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                  >
                    Sub menu 4asjdlasdkjf lajslfkj aslkjdf lasjdfj
                    ajdkslfjlksajdfjaldsjfkajsld jflkajslkdjfa sdfj
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-menu-wrapper" appRearrangeMenuOnFocusWithin>
      <div
        class="menu-item w-auto px-3 h-100 c-sm-shadow-hover rounded-2 cursor-pointer flex-grow-1 d-flex justify-content-center align-items-center transition-color transition-shadow"
      >
        Menu item 1
      </div>
      <div class="sub-menu-wrapper">
        <div class="sub-menu-inner-wrapper position-relative">
          <div class="arrow top-50"></div>
          <div
            class="sub-menu-list-wrapper c-sm-shadow rounded-2 position-relative py-3 px-3 d-flex flex-row justify-content-start align-items-center"
          >
            <div
              class="d-flex flex-row align-items-stretch m-0 pt-2 pb-3 px-3 position-relative gap-5"
            >
              <div class="sub-menu-list-wrapper d-flex flex-column py-2 gap-3">
                <div class="sub-menu-category-title w-max">
                  Category title 1
                </div>
                <div
                  class="sub-menu-list d-flex flex-column align-items-start gap-1"
                >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 1</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 2</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 3</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                  >
                    Sub menu 4asjdlasdkjf lajslfkj aslkjdf lasjdfj
                    ajdkslfjlksajdfjaldsjfkajsld jflkajslkdjfa sdfj
                  </a>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="separator h-75"></div>
              </div>
              <div class="sub-menu-list-wrapper d-flex flex-column py-2 gap-3">
                <div class="sub-menu-category-title w-max">
                  Category title 1
                </div>
                <div
                  class="sub-menu-list d-flex flex-column align-items-start gap-1"
                >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 1</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 2</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 3</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                  >
                    Sub menu 4asjdlasdkjf lajslfkj aslkjdf lasjdfj
                    ajdkslfjlksajdfjaldsjfkajsld jflkajslkdjfa sdfj
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-menu-wrapper" appRearrangeMenuOnFocusWithin>
      <div
        class="menu-item w-auto px-3 h-100 c-sm-shadow-hover rounded-2 cursor-pointer flex-grow-1 d-flex justify-content-center align-items-center transition-color transition-shadow"
      >
        Menu item 1
      </div>
      <div class="sub-menu-wrapper">
        <div class="sub-menu-inner-wrapper position-relative">
          <div class="arrow top-50"></div>
          <div
            class="sub-menu-list-wrapper c-sm-shadow rounded-2 position-relative py-3 px-3 d-flex flex-row justify-content-start align-items-center"
          >
            <div
              class="d-flex flex-row align-items-stretch m-0 pt-2 pb-3 px-3 position-relative gap-5"
            >
              <div class="sub-menu-list-wrapper d-flex flex-column py-2 gap-3">
                <div class="sub-menu-category-title w-max">
                  Category title 1
                </div>
                <div
                  class="sub-menu-list d-flex flex-column align-items-start gap-1"
                >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 1</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 2</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 3</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                  >
                    Sub menu 4asjdlasdkjf lajslfkj aslkjdf lasjdfj
                    ajdkslfjlksajdfjaldsjfkajsld jflkajslkdjfa sdfj
                  </a>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="separator h-75"></div>
              </div>
              <div class="sub-menu-list-wrapper d-flex flex-column py-2 gap-3">
                <div class="sub-menu-category-title w-max">
                  Category title 1
                </div>
                <div
                  class="sub-menu-list d-flex flex-column align-items-start gap-1"
                >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 1</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 2</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 3</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                  >
                    Sub menu 4asjdlasdkjf lajslfkj aslkjdf lasjdfj
                    ajdkslfjlksajdfjaldsjfkajsld jflkajslkdjfa sdfj
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-menu-wrapper" appRearrangeMenuOnFocusWithin>
      <div
        class="menu-item w-auto px-3 h-100 c-sm-shadow-hover rounded-2 cursor-pointer flex-grow-1 d-flex justify-content-center align-items-center transition-color transition-shadow"
      >
        Menu item 1
      </div>
      <div class="sub-menu-wrapper">
        <div class="sub-menu-inner-wrapper position-relative">
          <div class="arrow top-50"></div>
          <div
            class="sub-menu-list-wrapper c-sm-shadow rounded-2 position-relative py-3 px-3 d-flex flex-row justify-content-start align-items-center"
          >
            <div
              class="d-flex flex-row align-items-stretch m-0 pt-2 pb-3 px-3 position-relative gap-5"
            >
              <div class="sub-menu-list-wrapper d-flex flex-column py-2 gap-3">
                <div class="sub-menu-category-title w-max">
                  Category title 1
                </div>
                <div
                  class="sub-menu-list d-flex flex-column align-items-start gap-1"
                >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 1</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 2</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 3</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                  >
                    Sub menu 4asjdlasdkjf lajslfkj aslkjdf lasjdfj
                    ajdkslfjlksajdfjaldsjfkajsld jflkajslkdjfa sdfj
                  </a>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="separator h-75"></div>
              </div>
              <div class="sub-menu-list-wrapper d-flex flex-column py-2 gap-3">
                <div class="sub-menu-category-title w-max">
                  Category title 1
                </div>
                <div
                  class="sub-menu-list d-flex flex-column align-items-start gap-1"
                >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 1</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 2</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 3</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                  >
                    Sub menu 4asjdlasdkjf lajslfkj aslkjdf lasjdfj
                    ajdkslfjlksajdfjaldsjfkajsld jflkajslkdjfa sdfj
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="right-menus d-flex flex-row align-items-stretch justify-content-start h-100 py-1 gap-1"
  >
    <div class="main-menu-wrapper" appRearrangeMenuOnFocusWithin>
      <div
        class="menu-item w-auto px-3 h-100 c-sm-shadow-hover rounded-2 cursor-pointer flex-grow-1 d-flex justify-content-center align-items-center transition-color transition-shadow"
      >
        Menu item 1
      </div>
      <div class="sub-menu-wrapper">
        <div class="sub-menu-inner-wrapper position-relative">
          <div class="arrow top-50"></div>
          <div
            class="sub-menu-list-wrapper c-sm-shadow rounded-2 position-relative py-3 px-3 d-flex flex-row justify-content-start align-items-center"
          >
            <div
              class="d-flex flex-row align-items-stretch m-0 pt-2 pb-3 px-3 position-relative gap-5"
            >
              <div class="sub-menu-list-wrapper d-flex flex-column py-2 gap-3">
                <div class="sub-menu-category-title w-max">
                  Category title 1
                </div>
                <div
                  class="sub-menu-list d-flex flex-column align-items-start gap-1"
                >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 1</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 2</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 3</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                  >
                    Sub menu 4asjdlasdkjf lajslfkj aslkjdf lasjdfj
                    ajdkslfjlksajdfjaldsjfkajsld jflkajslkdjfa sdfj
                  </a>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="separator h-75"></div>
              </div>
              <div class="sub-menu-list-wrapper d-flex flex-column py-2 gap-3">
                <div class="sub-menu-category-title w-max">
                  Category title 1
                </div>
                <div
                  class="sub-menu-list d-flex flex-column align-items-start gap-1"
                >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 1</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 2</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 3</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                  >
                    Sub menu 4asjdlasdkjf lajslfkj aslkjdf lasjdfj
                    ajdkslfjlksajdfjaldsjfkajsld jflkajslkdjfa sdfj
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-menu-wrapper" appRearrangeMenuOnFocusWithin>
      <div
        class="menu-item w-auto px-3 h-100 c-sm-shadow-hover rounded-2 cursor-pointer flex-grow-1 d-flex justify-content-center align-items-center transition-color transition-shadow"
      >
        Menu item 1
      </div>
      <div class="sub-menu-wrapper">
        <div class="sub-menu-inner-wrapper position-relative">
          <div class="arrow top-50"></div>
          <div
            class="sub-menu-list-wrapper c-sm-shadow rounded-2 position-relative py-3 px-3 d-flex flex-row justify-content-start align-items-center"
          >
            <div
              class="d-flex flex-row align-items-stretch m-0 pt-2 pb-3 px-3 position-relative gap-5"
            >
              <div class="sub-menu-list-wrapper d-flex flex-column py-2 gap-3">
                <div class="sub-menu-category-title w-max">
                  Category title 1
                </div>
                <div
                  class="sub-menu-list d-flex flex-column align-items-start gap-1"
                >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 1</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 2</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 3</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                  >
                    Sub menu 4asjdlasdkjf lajslfkj aslkjdf lasjdfj
                    ajdkslfjlksajdfjaldsjfkajsld jflkajslkdjfa sdfj
                  </a>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="separator h-75"></div>
              </div>
              <div class="sub-menu-list-wrapper d-flex flex-column py-2 gap-3">
                <div class="sub-menu-category-title w-max">
                  Category title 1
                </div>
                <div
                  class="sub-menu-list d-flex flex-column align-items-start gap-1"
                >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 1</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 2</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 3</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                  >
                    Sub menu 4asjdlasdkjf lajslfkj aslkjdf lasjdfj
                    ajdkslfjlksajdfjaldsjfkajsld jflkajslkdjfa sdfj
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-menu-wrapper" appRearrangeMenuOnFocusWithin>
      <div
        class="menu-item w-auto px-3 h-100 c-sm-shadow-hover rounded-2 cursor-pointer flex-grow-1 d-flex justify-content-center align-items-center transition-color transition-shadow"
      >
        Menu item 1
      </div>
      <div class="sub-menu-wrapper">
        <div class="sub-menu-inner-wrapper position-relative">
          <div class="arrow top-50"></div>
          <div
            class="sub-menu-list-wrapper c-sm-shadow rounded-2 position-relative py-3 px-3 d-flex flex-row justify-content-start align-items-center"
          >
            <div
              class="d-flex flex-row align-items-stretch m-0 pt-2 pb-3 px-3 position-relative gap-5"
            >
              <div class="sub-menu-list-wrapper d-flex flex-column py-2 gap-3">
                <div class="sub-menu-category-title w-max">
                  Category title 1
                </div>
                <div
                  class="sub-menu-list d-flex flex-column align-items-start gap-1"
                >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 1</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 2</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 3</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                  >
                    Sub menu 4asjdlasdkjf lajslfkj aslkjdf lasjdfj
                    ajdkslfjlksajdfjaldsjfkajsld jflkajslkdjfa sdfj
                  </a>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="separator h-75"></div>
              </div>
              <div class="sub-menu-list-wrapper d-flex flex-column py-2 gap-3">
                <div class="sub-menu-category-title w-max">
                  Category title 1
                </div>
                <div
                  class="sub-menu-list d-flex flex-column align-items-start gap-1"
                >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 1</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 2</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 3</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                  >
                    Sub menu 4asjdlasdkjf lajslfkj aslkjdf lasjdfj
                    ajdkslfjlksajdfjaldsjfkajsld jflkajslkdjfa sdfj
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-menu-wrapper" appRearrangeMenuOnFocusWithin>
      <div
        class="menu-item w-auto px-3 h-100 c-sm-shadow-hover rounded-2 cursor-pointer flex-grow-1 d-flex justify-content-center align-items-center transition-color transition-shadow tab-content"
      >
        Menu item 1
      </div>
      <div class="sub-menu-wrapper">
        <div class="sub-menu-inner-wrapper position-relative">
          <div class="arrow top-50"></div>
          <div
            class="sub-menu-list-wrapper c-sm-shadow rounded-2 position-relative py-3 px-3 d-flex flex-row justify-content-start align-items-center"
          >
            <div
              class="d-flex flex-row align-items-stretch m-0 pt-2 pb-3 px-3 position-relative gap-5"
            >
              <div class="sub-menu-list-wrapper d-flex flex-column py-2 gap-3">
                <div class="sub-menu-category-title w-max">
                  Category title 1
                </div>
                <div
                  class="sub-menu-list d-flex flex-column align-items-start gap-1"
                >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 1</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 2</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 3</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                  >
                    Sub menu 4asjdlasdkjf lajslfkj aslkjdf lasjdfj
                    ajdkslfjlksajdfjaldsjfkajsld jflkajslkdjfa sdfj
                  </a>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="separator h-75"></div>
              </div>
              <div class="sub-menu-list-wrapper d-flex flex-column py-2 gap-3">
                <div class="sub-menu-category-title w-max">
                  Category title 1
                </div>
                <div
                  class="sub-menu-list d-flex flex-column align-items-start gap-1"
                >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 1</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 2</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                    >Sub menu 3</a
                  >
                  <a
                    href="void(0)"
                    class="sub-menu-item py-1 ps-2 pe-3 rounded-2 link-offset-3-hover d-block c-sm-shadow-hover no-link-style"
                  >
                    Sub menu 4asjdlasdkjf lajslfkj aslkjdf lasjdfj
                    ajdkslfjlksajdfjaldsjfkajsld jflkajslkdjfa sdfj
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
